<div class="card-benefit">
  <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"> -->
  <div class="card-benefit-infos">
    <h2><%= @benefit.name %></h2>
    <p><%= @benefit.description %></p>
  </div>
</div>

