.voucher-card {
  padding: 3rem 1rem;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  height: auto;
  background-color: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity:1;
}

.benefit-card {
  padding: 10px 10px;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  height: auto;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity:1;
  }

.date{
  height: 100%;
  width: 100px;
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-top: 10px;
  align-items: center;
  padding: 16px;
  vertical-align: middle;
  text-align:center


}

.benefit-card-info{
  width: 200px;
}

.benefit-card-info h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0
}

.benefit-card-info p {
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px
}

.benefit-card.benefit-card-info {
  padding: 16px;
}


.stores-box{
  // padding: 0px 10px 10px 10px;
  background-color: white;
  padding: 0px 16px 16px 16px;

  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  justify-content: space-around;
  opacity:1

}

table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}

td {
  border-left: solid 5px #000;
  padding: 0;
  margin: 0;
  width: 5px;
  height: 5px;
}

td.black { border-color: #000; }
td.white { border-color: #fff; }

.profile {
  min-height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px
}

.profile-main-content {
  background-color: rgba(220, 220, 220, 1);
  padding: 10px 20px 20px 20px;
  margin: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;

}

.cancellation p{
  font-size: 12px;
  padding:0px
}

.voucher-coming {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

