<div class="store-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path store.picture, height: 400, width: 560, crop: :fill, gravity: :auto %>');">
  <div class="store-card-description">
    <h2><%= store.name %></h2>
    <p><%= "#{store.address.split(",").first}, #{store.address.split(",").second}" %></p>
  </div>
  <div class="store-card-button"><%= link_to "Store details", store_path(store), class: "btn btn-primary btn-sm card-button" %></div>
</div>
