<div class="container available_vouchers">
  <% vouchers_available = @vouchers.select {|voucher| voucher.status == "Not used"} %>
  <% if vouchers_available.empty? == false %>
    <h3>Available vouchers:</h3>
    <% vouchers_available.each do |voucher| %>
      <br>
        <% qr = RQRCode::QRCode.new(voucher.key_qrcode, :size => 5, :level => :h ) %>
        <%= raw qr.as_html %>
      <br>
        <p>Store: <%= voucher.benefit.store.name %></p>
        <p>Address: <%= voucher.benefit.store.address %></p>
        <% if policy(voucher).update? %>
          <%= link_to "Mark this voucher as used", store_benefit_voucher_path(voucher.benefit.store, voucher.benefit, voucher), method: :patch, class: "btn btn-primary" %>
        <% end %>
    <% end %>
  <% end %>
</div>
