<% vouchers_used = @vouchers.select {|voucher| voucher.status == "Used"} %>
<% if vouchers_used.empty? == false %>
  <h4>Your used benefits:</h4>
  <div class = "voucher-card">
    <p>Congratulations! Thanks to your ecofriendly contribution, you already enjoyed the following discounts:</p>
    <ul class="unordered-list">
      <% vouchers_used.each do |voucher| %>
        <li><%= voucher.benefit.description %> at
          <%= link_to voucher.benefit.store.name, store_path(voucher.benefit.store)%></li>
      <% end %>
    </ul>
  </div>
<% end %>


