<div class="container-mobile col-lg-4 col-sm-6 col-xs-12">
  <div class="profile">


    <div>
      <h4>Available vouchers:</h4>
      <%= render 'vouchers-available', vouchers: @vouchers %>
    </div>
    <div>
      <%= render 'vouchers-used', vouchers: @vouchers %>
    </div>
    <div>
      <%= render 'user-stores', stores: @stores %>
    </div>



  </div>
   <div class="text-center">
        <%= link_to "Edit your profile", edit_user_registration_path %>
      </div>
</div>
