.banner {
  background-size: cover;
  background-position: center;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

@media (min-width: 576px) {
  .banner {
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
  }
}

.banner h1 {
  color: white;
  text-shadow: 2px 2px 1px rgb(20,20,20);
}

.banner h3 {
  color: white;
  // font-size: 30px;
  line-height: 1;
}

.btn-how {
  color: rgb(20,20,20);
  display: block;
  height: 10vh;
  text-align: center;
  padding: 16px;
}

.btn-how:hover {
  opacity: 0.8 !important;
  text-decoration: none;
}

.btn-how:active {
  opacity: 0.6 !important;
  text-decoration: none;
}
