.card-benefit {
  overflow: hidden;
  height: 120px;
  background: #fcfcfc;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.card-benefit-infos {
  flex-grow: 1;
}

.card-benefit-modif {
  flex: 0 0 10%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  color: #1D4267;
  flex-direction: column;
}

.card-benefit-mini-btn {
  display: flex;
  justify-content: space-around;

}

.card-benefit h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-benefit p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-benefit .card-benefit-infos .card-benefit-modif {
  padding: 16px;
}
