
.row-footer {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
   position: sticky;
   top: 0;
   z-index: 1;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px 10px;
  color: rgba(0,0,0,0.3);
  font-size:10px;
  width:170px;
}

.footer-links {
  display: flex;
  align-items: center;
  font-size:15px;
}

.footer-links a {
  color: #113F67;
  opacity: 0.7;
  text-decoration: none;
  font-size: 15px;
  padding: 10px 5px;
}

.footer-links a:hover {
  color:  #113F67;
  opacity:1;
}


.footer-copyright {
  text-align: right;
  padding: 10px 10px;
  color: #113F67;
  opacity: 0.7;
  font-size: 13px;
  text-vertical-align: center;
}



