.framed-picture {
  height: 100%;
  width: 100%;
}

.picture-box {
  border-bottom: 1px solid #d8d8d8;
  padding: 15px 0 !important;
}

.description-box {
  border-bottom: 1px solid #d8d8d8;
}

.description-box > p {
  margin: 0 !important;
}

.about-box > p {
  margin: 0 !important;
}
.benefit-box {
  border-bottom: 1px solid #d8d8d8;
  padding: 15px 0;
}

.button-collection {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#phone {
  padding-bottom: 15px;
  padding-top: 0 !important;
}

#store-description {
  padding-top: 0 !important;
  text-align: left !important;
  border-bottom: 1px solid #d8d8d8;
}
