.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  width: 400px;
}

.mapboxgl-canvas {
  position: relative !important; // Easy fix for the map. Check here if anything goes wrong again.
}

$topbar-height: 70px;
$general-padding: 16px;

.map-button {
  position: fixed;
  z-index: 1;
  top: $topbar-height + $general-padding;
  left: $general-padding;
}
