.navbar-lewagon {
  background-color: rgb(245,245,245);
  height: 70px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-item {
  margin-left: 12px;
}

.nav-left{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-lewagon h5 {
  margin-bottom: 0px;
  margin-left: 10px;
}

.navbar-brand {
  margin-right: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-expand > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-nav .dropdown-menu {
  position: absolute !important;
}

.navbar-nav {
  flex-direction: row !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #212529;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #212529;
  opacity: 0.6;
}

.dropdown-item{
   color: #212529;
}

.dropdown-item:hover{
   color: #212529;
   background: #1cb3c8;
   opacity: 0.7;
}
