.store-card {
  height: 255px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.store-card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.store-card-pricing {
  position: absolute;
  bottom: 42px;
  right: 20px;
  font-size: 24px;
}
.store-card-description {
  position: absolute;
  bottom: 0px;
  left: 10px;
  text-align: left;
}
.store-card-description h2 {
  font-size: 26px;
}
.store-card-description p {
  font-size: 14px;
  opacity: 0.8;
  font-weight: 400;
}
.store-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.store-card-link:hover {
  opacity: 0.1;
}

.store-card-user-avatar > img {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #F4F4F4;
}

.store-card-button {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 21px;
}

.card-button:hover {
  background-color: #275b8e;
}
